.container {
  max-width: 960px;
}

.lh-condensed { line-height: 1.25; }


.cardparagraph{
  margin-top: -20px;
}
.cardavailable{
  margin-bottom: 15px;
}

.codesize{
  font-size: 12px;
}

.card-body{
  margin-top: -15px;
  margin-bottom: -10px;
}

.card{
  margin-top: 20px;
}



